* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav {
  background-image: url("images/Group 33064.png");
  background-repeat: no-repeat;
  background-position: center;
} */
.navbar-brand > img {
  min-width: 200px;
}
section {
  margin-bottom: 150px;
}
.card > img {
  height: 451px;
  max-height: 451px;
  object-fit: contain;
}